<div class="row">
    <div class="col-md-4">
        <h3>Select Files</h3>
        <div appNgDropFiles [files]="files" (mouseOver)="isOverDropZone = $event" [ngClass]="{ 'file-over': isOverDropZone }" class="well drop-zone">

            <h4>Drag your files here...</h4>
            <img src="assets/drop-images.png">
        </div>
    </div>
    <div class="col-md-8">
        <h4>Load Files</h4>
        <button class="btn btn-success" (click)="loadImages()" [disabled]="files.length === 0">Load to Firebase</button>
        <button class="btn btn-danger" (click)="clearFiles()">Clear</button>

        <table class="table">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let file of files">
                    <td [ngClass]="{ 'text-green': file.progress >= 100 }">{{ file.fileName }}</td>
                    <td>{{ file.file.size/1024/1024 | number: '.2-2' }} MB</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': file.progress + '%' }" aria-valuenow="25"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>